<div id="main-content">
    <div class="avatar-page">

        <button class="avatar-back">✕</button>

        <div class="avatar-full" style="background-color: {{ user.avatar_random_color|default:'#cccccc' }};">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="avatar-img">
            {% else %}
                <div class="avatar-letter">
                    {{ user.username|first }}
                </div>
            {% endif %}
        </div>

        <div class="avatar-actions">
            <button id="color-btn" class="avatar-action-btn">
                Изменить цвет
            </button>
            <input type="color" id="color-picker" hidden>

            <button id="gallery-btn" class="avatar-action-btn">
                Галерея
            </button>
            
            <button id="telegram-btn" class="avatar-action-btn">
                Telegram
            </button>
        </div>

    </div>
    <input type="file" id="avatar-input" accept="image/*" hidden>
    <div id="avatar-gallery" class="avatar-gallery"></div>
</div>