<!DOCTYPE html>
<html>
<head>
    <title>Мой мини-апп</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>

    <nav class="bottom-navigation">
        <a href="{% url 'home' telegram_id %}" class="bottom-navigation__item" data-telegram-id="{{ telegram_id }}">
            <i class="ri-home-line bottom-navigation__icon"></i>
            <span class="bottom-navigation__label">Главная</span>
        </a>
        <a href="{% url 'search' telegram_id %}" class="bottom-navigation__item" data-telegram-id="{{ telegram_id }}">
            <i class="ri-search-line bottom-navigation__icon"></i>
            <span class="bottom-navigation__label">Поиск</span>
        </a>
        <a href="{% url 'create' telegram_id %}" class="bottom-navigation__item" data-telegram-id="{{ telegram_id }}" >
            <button class="bottom-navigation__action">+</button>
        </a>
        <a href="{% url 'messages' telegram_id %}" class="bottom-navigation__item" data-telegram-id="{{ telegram_id }}">
            <i class="ri-message-2-line bottom-navigation__icon"></i>
            <span class="bottom-navigation__label">Сообщения</span>
        </a>
        <a href="{% url 'profile' telegram_id %}" class="bottom-navigation__item" data-telegram-id="{{ telegram_id }}">
            <i class="ri-user-line bottom-navigation__icon"></i>
            <span class="bottom-navigation__label">Профиль</span>
        </a>
    </nav>

    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>