<div id="main-content">
    <div class="connections-page">
        <div class="connections-header">
            <button class="connections-back">
                <i class="ri-arrow-left-s-line"></i>
            </button>
        </div>

        <div class="connections-tabs">
            <button class="tab-btn {% if active_tab == 'following' %}active{% endif %}" data-tab="following">
                Подписки
            </button>
            <button class="tab-btn {% if active_tab == 'followers' %}active{% endif %}" data-tab="followers">
                Подписчики
            </button>
            <button class="tab-btn {% if active_tab == 'friends' %}active{% endif %}" data-tab="friends">
                Друзья
            </button>
        </div>

        <div class="connections-search">
            <div class="search-bar-wrap">
                <i class="ri-search-line search-icon"></i>
                <input
                    type="text"
                    id="connections-search-input"
                    class="search-input"
                    placeholder="Поиск..."
                    autocomplete="off"
                    autocorrect="off"
                    spellcheck="false"
                >
                <button class="search-clear hidden" id="connections-search-clear">
                    <i class="ri-close-line"></i>
                </button>
            </div>
        </div>

        <div id="connections-list" class="connections-list">
            <div class="connections-loading">
                <div class="search-spinner"></div>
            </div>
        </div>
    </div>
</div>